@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono:wght@100;300;400;500;700&family=Roboto:wght@100;300;400;500;700;900&display=swap");
@import "Cart";
@import "Form";
@import "Footer";
@import "Header";
@import "Home";
@import "Mixins";
@import "ModeChange";
@import "PopUp";
@import "Theme";
@import "Typography";
@import "Utilities";

* {
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;

  margin: 0;
  padding: 0;

  text-decoration: none;
}
body {
  height: 100%;
  background-image: var(--image-background);
  @include respond(Desktop) {
    background-image: var(--image-background);
    background-size: cover;
    background-repeat: repeat-x;
  }
  color: var(--color-text-primary);

  transition: all 0.75s;
}
.disabled-cursor {
  cursor: not-allowed;
}
