@import "Theme";
@import "Mixins";
.Navigation-Bar {
  height: 75px;
  width: 100%;

  background-color: var(--color-background-secondary);
  color: var(--color-text-secondary);

  border-bottom: 3px solid var(--color-text-secondary);
  border-top: 3px solid var(--color-text-secondary);
}
.Left {
  height: 50px;
  width: auto;

  font-size: 40px;
  font-weight: 500;
  margin-left: 50px;
  @include respond(Desktop) {
    font-size: 40px;
    font-weight: 500;
    margin-left: 50px;
  }
  @include respond(Smartphone) {
    font-size: 20px;
    font-weight: 500;
    margin-left: 25px;
  }

  background-color: transparent;
  text-transform: lowercase;
}
.Right {
  height: 50px;
  width: auto;

  font-size: 40px;
  margin-right: 10px;
  @include respond(Desktop) {
    font-size: 40px;
    margin-right: 10px;
  }
  @include respond(Smartphone) {
    font-size: 20px;
    margin-right: 5px;
  }

  background-color: transparent;
}
.Style-Link {
  color: var(--color-text-secondary);
  &:hover {
    color: var(--color-text-tertiary);
  }
}
.Shopping-Cart {
  background-color: transparent;
  position: relative;
}
.Shopping-Counter {
  background-color: var(--color-background-secondary);
  border-radius: 25%;

  position: absolute;
  bottom: 0%;
  left: 65%;

  font-size: 15px;
}
.custom-Dialog-Box {
  &::after {
    position: absolute;
    top: 100%;
    left: -25%;

    width: auto;

    background-color: var(--color-text-primary);
    color: var(--color-background-primary);

    padding: 0.25rem;
    font-size: 0.75rem;
    font-weight: 700;

    border-radius: 0.2rem;

    opacity: 0;
    transition: opacity 0.3s ease;
  }
  &:hover::after {
    opacity: 1;
  }
}
.H {
  &::after {
    content: "Cart";
  }
}
.C {
  &::after {
    content: "Cart";
  }
}
.LI {
  &::after {
    content: "Login";
  }
}
.LO {
  &::after {
    content: "LogOut";
  }
}
