.modeChangerButton {
  height: 35px;
  width: 35px;

  background-color: transparent;
  border: none;

  position: absolute;
  top: 2%;
  left: 0.5%;
}
.modeChangerImage {
  height: 35px;
  width: 35px;

  border: none;
}
