@import "Theme";
@import "Mixins";
.Heading-Primary {
  height: auto;
  width: auto;

  background-color: var(--color-background-primary);

  font-size: 20px;
  font-weight: 500;
  @include respond(Desktop) {
    font-size: 20px;
    font-weight: 500;
  }

  border-radius: 10px;
  padding: 2.5px 5px;
}
.Heading-Secondary {
  background-color: var(--color-background-primary);

  height: auto;
  width: auto;

  font-size: 15px;
  font-weight: 300;
  @include respond(Desktop) {
    font-size: 15px;
    font-weight: 300;
  }

  border-radius: 10px;
  padding: 2.5px 5px;
}
